[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.quickprogrammingtips.com › java › how-to-create-a-fat-jar-using-maven.html
Type=Link
URL=https://www.quickprogrammingtips.com/java/how-to-create-a-fat-jar-using-maven.html
Icon=text-html
